.cell{
  background: #fff;
  border-top: 1px solid #f0f0f0;
  position: relative;
  padding: 10px;
  font-size: 14px;
  overflow: hidden;
}
.cell:hover{
  background-color: #f6f6f6;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.user_avatar img{
    width: 30px;
    height: 30px;
    border-radius: 3px;
}
img{
  vertical-align: middle;
  border: 0;
}
.reply_count{
  width: 70px;
  display: inline-block;
  text-align: center;
}
.count_of_replies{
  color: #9e78c0;
}
.count_seperator {
  margin: 0 -3px;
  font-size: 10px;
}
.count_of_visits {
  font-size: 10px;
  color: #b4b4b4;
}
.last_time {
  font-size: 11px;
  display: inline-block;
  margin-left: 20px;
  color: #778087;
  
}
.user_small_avatar {
  height: 18px;
  width: 18px;
  vertical-align: middle;
  margin-right: .5em;
  border-radius: 3px;
}
.last_active_time {
  text-align: right;
  min-width: 50px;
  display: inline-block;
  white-space: nowrap;
}
.topic_title_wrapper {
  white-space: nowrap;
  text-overflow: ellipsis;
}
.put_good, .put_top {
  background: #80bd01;
  padding: 2px 4px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  color: #fff;
  font-size: 12px;
}
.topiclist-tab {
  background-color: #e5e5e5;
  color: #999;
  padding: 2px 4px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  font-size: 12px;
}
.topic_title {
  color: #333;
  max-width: 70%;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  line-height: 30px;
}

